.DS_Store
db.sqlite3
*.log
*.pot
*.pyc
.idea
.vagrant
local_settings.py
.venv
title_pic
django-summernote
avatars
media
*~

__pycache__
# node
node_modules
jspm_packages
npm-debug.log*
static/react/*
static/images/*


# sass cache
*.scssc
venv/
*.css.map

# add fake data
fakedata/

templates/*
templates/base.html

