<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Glamorgan BookShop</title>
    <!-- <link href="https://cdn.bootcss.com/antd/2.11.2/antd.min.css" rel="stylesheet">
    <link href="/static/material/css/material.min.css" rel="stylesheet">
    <link href="/static/material/css/styles.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->

</head>
<body>
<div id="content" style="height: 100%;"></div>
<script src="/static/react/glamorgan.js"></script>
<script src="/static/material/javascripts/material.min.js"></script>
</body>
</html>